<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- bootstrap  css & js -->
    <title>Escape ME | 跳脫舒適圈的社交平台 | 商城</title>
    <meta
      name="description"
      content="一款全新概念的社交平台。「常常覺得生活沒有目標嗎？」Escape ME 提供你各式任務、冒險、挑戰等你去完成，藉此跳脫舒適圈，更發現自己的潛能。"
    />
    <link rel="shortcut icon" href="./images/favicon.ico" />
    <link rel="bookmark" href="./images/favicon.ico" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="./style/tools/bootstrap_icons.css" />
    <link rel="stylesheet" href="./style/tools/EsME_fonts.css" />
    <link rel="stylesheet" href="./style/EscapeME.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="./js/vue.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
      integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <div id="app">
      <!-- 導覽列 -->
      <nav class="navigation">
        <!--logo img -->
        <div class="nav-logo">
          <a href="./about.html">
            <img id="logo-img" src="./images/logo/logo_rec.png " />
            <img id="logo-img-s" src="./images/logo/EsME_logo_main.png" />
          </a>
        </div>

        <div class="nav-wrap">
          <div class="nav-item">
            <a href="index.html">
              <i class="bi bi-house"></i>
              <p>HOME</p>
            </a>
          </div>
          <div class="nav-item">
            <a href="./search.html">
              <i class="bi bi-search"></i>
              <p>FIND</p>
            </a>
          </div>
          <div class="nav-item">
            <a href="rank.html">
              <i class="bi bi-trophy"></i>
              <p>RANK</p>
            </a>
          </div>
          <div class="nav-item">
            <a href="./shopping.html">
              <i class="bi bi-cart-fill"></i>
              <p>SHOP</p>
            </a>
          </div>
          <div class="nav-item">
            <div class="personal-img-border">
              <a href="personal_page.html">
                <img :src="userImgSrc" alt="個人頭像" />
              </a>
            </div>
          </div>
        </div>

        <div class="start-btn-wrap">
          <div class="start-btn">
            <a href="./mission.html">
              <p class="pixel text-color-white">▶︎ Start</p>
            </a>
          </div>
        </div>
      </nav>
      <!-- 導覽列結束 -->
      <div class="main">
        <!-- 左側搜尋列 -->
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-2 left-search-bar">
              <div class="text-center">
                <h2>
                  <i class="fas fa-search text-color-black">&emsp;條件搜尋</i>
                </h2>
              </div>
              <a
                @click="allClick(null, null, null, null)"
                class="nav-link text-center"
                href="#"
              >
                <div class="text-center search-item">
                  <p><i class="fas fa-dumpster"></i>&ensp;全部商品</p>
                </div>
              </a>
              <a @click="typeClick(1)" class="nav-link text-center" href="#">
                <div class="text-center search-item">
                  <p><i class="fas fa-utensils"></i>&ensp;食</p>
                </div>
              </a>
              <a @click="typeClick(2)" class="nav-link text-center" href="#">
                <div class="sb-nav-link-icon text-center search-item">
                  <p><i class="fas fa-tshirt"></i>&ensp;衣</p>
                </div>
              </a>
              <a @click="typeClick(3)" class="nav-link text-center" href="#">
                <div class="sb-nav-link-icon text-center search-item">
                  <p><i class="fas fa-car-side"></i>&ensp;交通</p>
                </div>
              </a>
              <a @click="typeClick(4)" class="nav-link text-center" href="#">
                <div class="sb-nav-link-icon text-center search-item">
                  <p><i class="fas fa-gamepad"></i>&ensp;娛樂</p>
                </div>
              </a>
              <a class="nav-link text-center" href="#">
                <div class="sb-nav-link-icon text-center search-item">
                  <p><i class="fas fa-dollar-sign"></i>&ensp;儲值星星</p>
                </div>
              </a>
            </div>
            <!-- 左側搜尋列結束 -->
            <div class="col-sm-12 col-md-9 col-lg-10 shopping-search-result">
              <!-- 以星星搜尋 -->
              <nav>
                <div class="container-fluid">
                  <button @click="starClick(300,0)" class="pixel">300★</button>
                  <button @click="starClick(700,0)" class="pixel">700★</button>
                  <button @click="starClick(1000,0)" class="pixel">
                    1000★
                  </button>
                  <button @click="starClick(null,1000)" class="pixel">
                    1000★ ↑
                  </button>
                </div>
              </nav>
              <!-- 星星搜尋結束 -->
              <!-- 商品方塊-->
              <section>
                <div class="container px-4 mt-5">
                  <div class="row">
                    <!-- 商品小區塊 -->
                    <div
                      class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-5"
                      v-if="shoppingList.length!=0"
                      v-for="s in shoppingList"
                      :key="s.id"
                    >
                      <div class="card h-100">
                        <!-- 商品圖-->
                        <img
                          class="
                            card-img-top
                            shopImg
                            d-flex
                            align-items-cneter
                            mt-3
                          "
                          :src="s.imageSrc"
                        />
                        <!-- 商品介紹-->
                        <div class="card-body p-4">
                          <div class="text-center">
                            <!-- 商品名稱-->
                            <hr />
                            <h5 class="fw-bolder">{{s.title}}</h5>
                            <p>{{s.content}}</p>
                          </div>
                        </div>
                        <!-- 商品 star-->
                        <div class="card-footer border-top-0 cost-buy">
                          <div class="star-cost">
                            <p class="pixel">{{s.star}}★</p>
                          </div>
                          <!-- buy按鈕 -->
                          <div class="buy">
                            <button
                              type="button"
                              data-bs-toggle="modal"
                              data-bs-target="#exampleModal"
                            >
                              BUY
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div v-else>
                      <p>查無資料</p>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="./js/shopping.js"></script>
  </body>
</html>
